.loader {
    position: absolute;
    text-align: center;
    left: 50%;
    top: 50%;
    color: #58b13d;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.loader div {
    margin-top: 10px;
    color: #58b13d
}
