label {
    font-size: 0.875rem;
    font-weight: 500;
}

button {
    height: 38px;
}

.generatorContainer {
    position: fixed;
    bottom: 0;
    width: 100%;
    padding: 25px 0px 25px 0px;
    background: #eaeaea;
    box-shadow: -2px -2px 3px #00000050;
}

.ReactModal__Overlay {
    z-index: 1050;
}

.ReactModal__Content {
    margin: 0 auto;
    width: 60%;
    bottom: auto !important;
}

.linkInput .deleteLink {
    line-height: 38px;
}

.linkInput .link {
    margin-top: 10px;
}

.linkInput .buttonContainer {
    margin-top: 15px;
}

input[type=checkbox] {
    margin-left: 5px;
}
