.row {
    margin-left: 0px !important;
    margin-right: 0px !important;
}

#gallery img:hover {
    opacity: 0.7;
    transition: 0.3s ease-in-out;
    cursor: pointer;
}

#contact label {
    margin-top: 10px;
}

#map {
    filter: grayscale(100%);
    opacity: 0.7;
}

#map:hover {
    opacity: 1;
    transition: 0.3s ease-in-out;
}

#footer {
    padding-top: 25px;
    padding-bottom: 25px;
}

.generatedHTML {
    margin-bottom: 26px;
}
